@import url(./style.css);

:root{
    --brown: #947654;
    --white: #ffffff;
    --black: #000000;
}

main{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

.container-image__main{
    height: 35em;
    background-image: url(../assets/img/restaurant2.jpg);
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-size: cover;
    position: relative;
    display: flex;
}

.container-image__main>h2{
    position: absolute;
    text-align: center;
    margin: 1em 0;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.container-information__main{
    /* background-color: red; */
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 4em;
}

.container-information__main>h3{
    margin-bottom: .5em;
    text-align: center;
}

.container-information__main-info{
    border: 1px solid rgba(197, 171, 38, 0.539);
    border-radius: 1em;
    padding: .5em;
    width: 80%;
    margin: auto;
    box-shadow: 0 1em 1em rgba(199, 176, 72, 0.2);
}


.container-information__main-info>h4{
    margin-bottom: .3em;
}

.main-a{
    margin: -1em auto 2em;
    /* margin-bottom: 1em; */
}

.main-button{
    background-color: var(--brown);
    color: var(--white);
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
}

.main-button:hover{
    background: #556270;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** Ventana modal **/
input,
select,
option,
textarea,
button{
    font-family: 'Signika Negative', sans-serif;
    border-radius: 1em;
    border: none;
    outline: none;
    text-align: center;
}


.modal-reservation{
    position: fixed;
    /* Para que ocupe toda la pantalla */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.765);
    display: flex;
    
    /* Custom Properties */
    --opacity: 0;
    --pointer: none;

    /* Inicalmente no se ve */
    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
    z-index: 2;
}

.modal-reservation:target{
    --opacity: 1;
    --pointer: unset;
}

/* nombreAnimacion - duración - retardo */
.modal-reservation:target .modal-container{
    animation: show 1s .5s backwards;
}

@keyframes show{
    0%{
        transform: translateY(-150vh);
    }
}

.modal-container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    padding: 2.5em 1.5em;
    border-radius: 1em;
    position: relative;
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.modal-container>a>button{
    display: inline-block;
    background-color: var(--black);
    padding: 1em 2em;
    border-radius: 0.4em;
    cursor: pointer;
    margin-top: 2em;
    color: var(--white);
}

.modal-container>a>button:hover{
    background-color: #282626;
}

.modal-container>form{
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

.or{
    text-align: center;
    margin-top: 1em;
}

.modal-reservation__p{
    width: 80%;
    margin: 2em auto 0;
    text-align: justify;
}

.modal-reservation__p>p:nth-of-type(3){
    font-weight: bold;
}

.modal-reservation__form-items{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}

.modal-reservation__form-items>.textarea{
    resize: none;
}

.timeToDine-items>label{
    margin-right: 1em;
}

.creditCard-card{
    display: flex;
    gap: 2em;
}

.icon-creditCard{
    font-size: 2em;
}

input[type="radio"]{
    width: 1.5em;
    height: 1.5em;
}

.form-exit{
    color: #d2caca;;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em 1.5em;
}

.form-back{
    color: #d2caca;;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em 1.5em;
}

.form-exit:hover,
.form-back:hover{
    color: #4b4646;
}

