@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brown: #947654;
    --white: #ffffff;
    --black: #000000;
}

/** -----GENERAL----- **/
body{
    color: var(--white);
    font-family: 'Signika Negative', sans-serif;
    /*font-family: 'Barlow Semi Condensed', sans-serif;*/
    font-size: 14px;
    background-color: var(--black);
}

a{
    text-decoration: none;
    color: var(--white);
}

li{
    list-style: none;
}

main{
    min-height: 100vh;
    /* height: 100Vh; */
}

/** -----NAVBAR----- **/
header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 0 3em;
    border-bottom: .6em solid #947654a0;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image{
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

.logo-title{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    margin-bottom: 10px;
    animation: typing 2s steps(10), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from{width: 0;}
}

@keyframes blink{
    50%{border-color: transparent;}
}

nav>ul{
    display: flex;
    align-items: center;
    gap: 3em;
    text-transform: uppercase;
}

nav>ul>li>a:hover{
    color: var(--brown);
}

/** -----HOME PAGE----- **/
h2.tile1-home{
    margin-top: 1em;
    padding-bottom: 5%;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.presentation-section{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 6%;
}

.presentation-member-1{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    padding: 5%;
    margin-bottom: 4%;
    background-color: #947654;
    border-radius: 0% 15%;
    color: black;
    transition: all 300ms ease;
    
}

.img-member img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.presentation-member-1:hover {
    transform: scale(1.1);
}

.presentation-member-2{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    padding: 5%;
    margin-bottom: 4%;
    background-color: #ffffff;
    border-radius: 0% 15%;
    color: black;
    transition: all 300ms ease;
}

.presentation-member-2:hover{
    transform: scale(1.1);
}

.description-member {
    width: 90%;
    margin: auto;
}

.img-home {
    margin-left: 25%;
}

.img-home{
    width: 200px;
    height: 170px;
    margin-left: 10%;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    object-fit: cover;
    object-position: initial;
    /* background-position-y: -50%; */
}

h2.title2-home{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding-bottom: 3%;
}

.iniciatec-info-section {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(90, 10, 136));
    padding: 70px 0px;
}

.iniciatec-info-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.iniciatec-info-img .iframe-inicitec, 
.iniciatec-info-img .description-iniciatec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.5);
    padding: 30px 40px;
    border-radius: 30px;
}

.p-iniciatec {
    margin-bottom: 10px;
    text-align: center;
}

.flex-logos {
    display: flex;
}

.logo-iniciatec img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
}

.img-team {
    background-image: url(../assets/img/restaurant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

.h3-team {
    font-size: 30px;
    text-align: center;
    margin: 100px 0px;
}

.title-team {
    font-size: 50px;
    margin-top: 150px;
    color:#ffffff;
}

.contact-form-section {
    width: 100%;
    height: 300px;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.title3-home{
    margin-bottom: 15px;
    font-size: 35px;
}

.info-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 700;
}

form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 10px;
    border: 1px solid #947654;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

input.btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #947654;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

input.btn-enviar:hover{
    background-color: #ffffff;
    color: #000000;
}

.title3-home {
    margin-bottom: 15px;
    font-size: 35px;
}

.info-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 700;
}

form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 10px;
    border: 1px solid #947654;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

input.btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #947654;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

input.btn-enviar:hover {
    background-color: #ffffff;
    color: #000000;
}

/** -----MENU----- **/
.img-menu {
    background-image: url(https://hospitalityinsights.ehl.edu/hubfs/Blog-EHL-Insights/Blog-Header-EHL-Insights/culinary%20arts.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 92%;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.description-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.p-menu  {
    width: 60%;
    font-size: 16px;
    text-align: center;
}

/*STARTERS*/
.title-menu {
    margin: 0px 10px 60px -1em;
    text-align: center; 
    font-size: 25px;
}

div > .img-starters > img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.container-menu-starters {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    column-gap: 2em;
    padding: 40px;
    background-color: #947654;
    align-items: center;
}

.container-starters {
    display: grid; 
    grid-template-columns: repeat(3,1fr); 
    column-gap: 2.5em;
}

.title-starters {
    grid-column: 1/4; 
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.botton-table {
    grid-column:1/2 ;
    background-color:#000000;
    color: #ffffff;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    opacity: 0.9;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.botton-table:hover, .botton-download:hover {
    background-color:#ffffff;
    color:#000000;
    font-weight: bold;
}

.botton-download {
    grid-column: 3/4;
    background-color:#000000;
    color: #ffffff;
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
    opacity: 0.9;
    width: 10em;
}

.h4-starters {
    margin-top: 30px;
}

span {
    font-family: italic;
}

/*mains*/
.container-menu-mains {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    column-gap: 2em;
    padding: 40px;
    background-color: #947654;
    align-items: center;
}

.container-mains {
    display: grid; 
    grid-template-columns: repeat(3,1fr); 
    column-gap: 2.5em;
}

.title-mains {
    grid-column: 1/4; 
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.container-plates {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 200px 0px;
    
}

.plate > img{
    height: 200px;
    width: 100%;
}

.plate:hover {
    transform: scale(1,1.3);
    width: 300px;
    transition: ease-in 200ms;
}

/*drinks*/
.p-drinks {
    margin-top: 10px;
}

.style-i {
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}

/* carrusel */
/* body {
	align-items: center;
	background: #E3E3E3;
	display: flex;
	height: 100vh;
	justify-content: center;
} */


@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 6))}
}



.slider {
	/* background: white; */
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 300px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
}

.slider::after,
.slider::before{
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    width: 200px;
	height: 100%;
    z-index: 2;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before{
    left: 0;
	top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    align-items: center;
    width: calc(250px * 12);
}

.slide-track{
    height: 100%;
    gap: 1em;
}

.slider .slide {
    height: 200px;
    width: 250px;
    background-color: #947654;
}

.slide>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    gap: 1em;
}

.slide>img:hover{
    transform: scale(1.1);
}

/** -----BOOK TABLE----- **/
main{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

.container-image__main{
    height: 35em;
    background-image: url(../assets/img/restaurant2.jpg);
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-size: cover;
    position: relative;
    display: flex;
}

.container-image__main>h2{
    position: absolute;
    text-align: center;
    margin: 1em 0;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -1em;
}


.container-information__main{
    /* background-color: red; */
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 4em;
}

.container-information__main>h3{
    margin-bottom: .5em;
    text-align: center;
}

.container-information__main-info{
    border: 1px solid rgba(197, 171, 38, 0.539);
    border-radius: 1em;
    padding: .5em;
    width: 80%;
    margin: auto;
    box-shadow: 0 1em 1em rgba(199, 176, 72, 0.2);
}


.container-information__main-info>h4{
    margin-bottom: .3em;
}

.main-a{
    margin: -1em auto 2em;
    /* margin-bottom: 1em; */
}

.main-button{
    background-color: var(--brown);
    color: var(--white);
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
}

.main-button:hover{
    background: #556270;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** -----IMPACT----- **/
.img-impact {
    background-image: url(../assets/img/impact/tierra_manos_1.png);
    background-position-x: 60%;
    background-position-y: 50% ;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.title-impact {
    font-size: 25px;
    margin: 1.5em 0 0 -1.2em;
}

.description-impact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    font-size: 16px;
    width: 50%;
    margin: auto;
    text-align: center;
}

.container-impact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0px 20px;
    row-gap: 6em;
}

.container-impact div {
    background-color: #947654;
    padding:40px;
    width: 90%; 
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 25% 0% 25% 0%;
    color:#ffffff;
    height: 300px;
    box-shadow: rgb(105, 83, 53) 0px 20px 30px -10px;
}

.h4-impact {
    margin-bottom: 15px;
}

.style-i-carrot {
    font-size: 20px;
    margin-top: 20px;
}

.p-impact {
    margin-bottom: 10px;
}
.p-italic {
    font-family: 'Source Sans Pro', sans-serif;
}

.title-youtube {
    margin-top: 200px;
    text-align: center;
    font-size: 20px;
}

.container-iframe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    justify-content: center;
    margin-bottom: 100px;
    background-color: #947654;
    padding: 50px 30px;
}

.div-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div-iframe iframe {
    height: 280px;
    width: 280px;
    padding: 30px 20px;
    border-radius: 60px;
}

.p-iframe {
    text-align: center;
    color:#ffffff;;
    padding: 0px 20px 20px 20px;
}

/*MAPS*/
.container-maps {
    display: flex;
    flex-direction: column;
}

.div-map iframe, .div-map-rigth iframe {
    width: 300px;
    height: 200px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.p-map {
    width: 200px;
    margin: 90px 90px;
    text-align: center;
}

.div-map {
    display: flex;
    align-items: center;
    padding-right: 100px;
    background-color: #947654;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 0px 160px 160px 0px;
}

.div-map-rigth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    background-color: #947654;
    margin-bottom: 20px;
    margin-left: 300px;
    border-radius: 160px 0px 0px 160px;
}

/** -----VOUCHERS----- **/
.vouchers{
    background-image: url(../assets/img/voucher1.jpg);
    background-position-y: 50%;
}

.vouchers_information{
    width: 100%;
}

.cardsContainer{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.cardVoucher{
    background-color: var(--white);
    color: var(--black);
    width: 25em;
    height: 25em;
    box-shadow: 0 1em 1em rgba(199, 176, 72, 0.2);
    margin-top: 2em;
    border-radius: 8px;
}

.cardVoucher__image{
    background-color: #BA8B02;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-size: cover;
}

.cardVoucher__image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* .voucher1{
    background-image: url(../assets/img/voucher.jpg);
} */


/* .voucher2{
    background-image: url(../assets/img/voucher2.jpg);
    background-position-y: 50%;
} */


/* .voucher3{
    background-image: url(../assets/img/voucher3.jpg);
} */

/* .voucher4{
    background-image: url(../assets/img/voucher4.jpg);
} */

/* .voucher5{
    background-image: url(../assets/img/voucher5.jpg);
} */

.voucher6{
    /* background-image: url(../assets/img/voucher6.jpg); */
    cursor: not-allowed;
    opacity: .5;
}

.cardVoucher__info{
    height: 35%;
    padding: 1em;
}

.cardVoucher__info>h4{
    margin-bottom: 1em;
}

.cardVoucher__buy{
    border-top: .5px solid var(--brown);
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-weight: bold;
}

.cardVoucher__buy>a{
    background-color: var(--brown);
    padding: .5em;
    width: 4em;
    text-align: center;
    border-radius: 8px;
}

.cardVoucher__buy>p>span{
    color: var(--brown);
    font-size: 1.5em;
}

.card__disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.buy__disabled{
    opacity: 0.5;
    /* pointer-events: none; */
    cursor: not-allowed;
}

.modal-container>.code{
    font-size: 3em;
    margin: .5em 0;
}

/** -----CUSTOMERS----- **/
.customer-section{
    width: 100%;
}

.title-customer-section{
    width: 100%;
    height: 650px;
    background-image: url(../assets/img/Background-\ Customer.jpg);
    background-size: cover;
    background-position-y: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 4%;
}

.title1-customer{
    font-size: 40px;
    text-shadow: 3px 3px 1px #000000a2;
}

.p1-customer{
    padding-top: 1%;
    font-size:18px;
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: 2px 2px 0 #000000;
}

.customer-coment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    gap: 2em;
    padding:5%;
}

.customer{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #aeababf1;
    color: #000000;
    padding: 2%;
    border-radius: 8%;
    align-items:center ;
    box-shadow: rgba(249, 249, 255, 0.189) 0px 5px 15px;
    margin-left: 0%;
    margin-right: 20%;
    transition: all 300ms ease;
}

.customer:hover{
    /* padding: 3%; */
    background-color: rgb(223, 217, 217);
}

.img-customer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.img-customer-div>img{
    object-fit: cover;
    object-position: 50%;
}

.info-customer{
    text-align: start;
}

.customer-2{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #947654;
    color: #000000;
    padding: 2%;
    border-radius: 8%;
    align-items:center ;
    box-shadow: rgba(249, 249, 255, 0.189)  0px 5px 15px;
    margin-right: 0%;
    margin-left: 20%;
    transition: all 300ms ease;
}

.customer-2:hover{
    /* padding: 3%; */
    background-color: #b4a594f1;
}

.info-customer-2{
    text-align: end;
}

.fa-star{
    color: rgb(255, 136, 0);
}

.fa-regular{
    color: rgb(255, 136, 0);
}

.fa-star-half-stroke{
    color: rgb(255, 136, 0);
}

.icon-div{
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1.3em;
}

/* Slider */
.slider-frame {
	width: 50%;
    height: auto;
	margin: 2em auto;
	overflow: hidden;
    background-color: #947654;
    border-radius: 8px;
}

.slider-frame ul {
	display: flex;
	width: 600%;
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	14% {margin-left: 0;}
	
	17% {margin-left: -100%;}
	31% {margin-left: -100%;}
	
	33% {margin-left: -200%;}
	47% {margin-left: -200%;}
	
	50% {margin-left: -300%;}
	64% {margin-left: -300%;}

    67% {margin-left: -400%;}
	81% {margin-left: -400%;}

    84% {margin-left: -500%;}
	100% {margin-left: -500%;}
}

.cardCustomer__profile{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.cardCustomer__profile>img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
}

.slider-frame>ul>li{
    background-color: var(--brown);
    width: 100%;
    padding: 4em;
}

/** -----FOOTER----- **/
footer{
    background-color: #947654;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

footer>p:nth-of-type(2){
    background-color: rgba(255, 0, 0, 0.251);
    margin: 1em 0;
}

.nameTeam{
    text-align: start;
}

.nameTeam:hover{
    transform: rotate(15deg);
    transition: all 0.5s ease;
}

.container-team{
    display: grid;
    grid-template-columns: repeat(4);
    width: 100%;
    justify-content: center;
    gap: 8em;
}

.container-team-bri{
    grid-column: 1;
    display: flex;
    gap: .5em;
}

.container-team-cris{
    grid-column: 2;
    display: flex;
    gap: .5em;
}

.container-team-dai{
    grid-column: 3;
    display: flex;
    gap: .5em;
}

.container-team-mauri{
    grid-column: 4;
    display: flex;
    gap: .5em;
}

div>.githubLink{
    display: flex;
}

.githubLink>p{
    margin-right: .5em;
}

.githubLink>p:hover,
.githubLink>i:hover{
    color: #2c2c2c;
    transform: rotate(360deg);
    transition: all 3s ease;
}